blueprint/AI_Real_Estate_Search_Bot_PUBLIC.blueprint.json
{
  "name": "AI Real Estate Search Bot - PUBLIC SANITIZED BLUEPRINT",
  "flow": [
    {
      "id": 3,
      "module": "telegram:WatchUpdates",
      "version": 1,
      "parameters": {"__IMTHOOK__": 0},
      "mapper": {},
      "metadata": {"designer": {"x": 0, "y": 0}}
    },
    {
      "id": 4,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {"__IMTCONN__": 0},
      "mapper": {
        "base": "YOUR_AIRTABLE_BASE_ID",
        "table": "YOUR_AIRTABLE_TABLE_ID",
        "formula": "{chat_id}={{3.message.chat.id}}",
        "maxRecords": "1",
        "useColumnId": false
      },
      "metadata": {"designer": {"x": 300, "y": 0}}
    },
    {
      "id": 7,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {"__IMTCONN__": 0},
      "mapper": {
        "model": "gpt-4o-mini",
        "select": "chat",
        "temperature": "1",
        "top_p": "1",
        "max_tokens": "2048",
        "n_completions": "1",
        "response_format": "text",
        "messages": [
          {
            "role": "system",
            "content": "You are a real estate search assistant for Kyiv, Ukraine. Manage a strict stateful conversation using the current Airtable values: step, rooms, budget_max and floor_min. Step 0 asks for rooms and returns next_step=1, status=collecting. Step 1 extracts rooms, asks for maximum budget and returns next_step=2. Step 2 normalizes the budget, asks for minimum floor and returns next_step=3. Step 3 interprets the answer as floor, returns next_step=4, status=searching, ready_to_search=true and replies that the search has started. Preserve existing values, never return null and respond with one valid JSON object containing rooms, budget_max, floor_min, next_step, status, reply and ready_to_search."
          },
          {"role": "user", "content": "{{3.message.text}}", "imageDetail": "auto"}
        ]
      },
      "metadata": {"designer": {"x": 600, "y": 0}}
    },
    {
      "id": 8,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {"json": "{{7.result}}"},
      "metadata": {"designer": {"x": 900, "y": 0}}
    },
    {
      "id": 9,
      "module": "airtable:upsertRecord",
      "version": 3,
      "parameters": {"__IMTCONN__": 0},
      "mapper": {
        "base": "YOUR_AIRTABLE_BASE_ID",
        "table": "YOUR_AIRTABLE_TABLE_ID",
        "recordId": "{{4.id}}",
        "typecast": false,
        "useColumnId": false,
        "record": {
          "YOUR_FIELD_CHAT_ID": "{{3.message.chat.id}}",
          "YOUR_FIELD_STEP": "{{8.next_step}}",
          "YOUR_FIELD_ROOMS": "{{8.rooms}}",
          "YOUR_FIELD_BUDGET_MAX": "{{8.budget_max}}",
          "YOUR_FIELD_FLOOR_MIN": "{{8.floor_min}}",
          "YOUR_FIELD_STATUS": "{{8.status}}",
          "YOUR_FIELD_LAST_ATTACHMENT": "{{8.reply}}"
        }
      },
      "metadata": {"designer": {"x": 1200, "y": 0}}
    },
    {
      "id": 10,
      "module": "telegram:SendReplyMessage",
      "version": 1,
      "parameters": {"__IMTCONN__": 0},
      "mapper": {
        "chatId": "{{3.message.chat.id}}",
        "text": "{{9.Last_attachment}}",
        "parseMode": "",
        "replyMarkup": "",
        "messageThreadId": "",
        "replyToMessageId": "",
        "replyMarkupAssembleType": "reply_markup_enter"
      },
      "metadata": {"designer": {"x": 1500, "y": 0}}
    },
    {
      "id": 11,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {"authenticationType": "noAuth", "tlsType": ""},
      "filter": {
        "name": "Search only when all criteria are ready",
        "conditions": [[
          {"a": "{{9.Status}}", "o": "text:equal", "b": "searching"},
          {"a": "{{8.ready_to_search}}", "o": "text:equal", "b": "true"}
        ]]
      },
      "mapper": {
        "url": "https://developers.ria.com/dom/search?api_key=YOUR_DOM_RIA_API_KEY&category=1&realty_type=2&operation=1&state_id=10&city_id=10&characteristic[209][from]={{9.rooms}}&characteristic[209][to]={{9.rooms}}&characteristic[227][from]={{9.floor_min}}&price_to={{9.budget_max}}&price_cur=1&secondary=1&page=0",
        "method": "get",
        "parseResponse": true,
        "allowRedirects": true,
        "stopOnHttpError": true,
        "shareCookies": false,
        "requestCompressedContent": true
      },
      "metadata": {"designer": {"x": 1800, "y": 0}}
    },
    {
      "id": 12,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {"designer": {"x": 2100, "y": 0}},
      "routes": [
        {
          "flow": [
            {
              "id": 13,
              "module": "telegram:SendReplyMessage",
              "version": 1,
              "parameters": {"__IMTCONN__": 0},
              "filter": {
                "name": "No matching properties",
                "conditions": [[
                  {"a": "{{length(11.data.items)}}", "o": "number:equal", "b": "0"}
                ]]
              },
              "mapper": {
                "chatId": "{{3.message.chat.id}}",
                "text": "За вашим запитом нічого не знайдено, спробуйте ще раз",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
              },
              "metadata": {"designer": {"x": 2400, "y": -150}}
            },
            {
              "id": 15,
              "module": "airtable:upsertRecord",
              "version": 3,
              "parameters": {"__IMTCONN__": 0},
              "mapper": {
                "base": "YOUR_AIRTABLE_BASE_ID",
                "table": "YOUR_AIRTABLE_TABLE_ID",
                "recordId": "{{9.id}}",
                "typecast": false,
                "useColumnId": false,
                "record": {
                  "YOUR_FIELD_STATUS": "error",
                  "YOUR_FIELD_STEP": "0",
                  "YOUR_FIELD_ROOMS": "0",
                  "YOUR_FIELD_BUDGET_MAX": "0",
                  "YOUR_FIELD_FLOOR_MIN": "0"
                }
              },
              "metadata": {"designer": {"x": 2700, "y": -150}}
            }
          ]
        },
        {
          "flow": [
            {
              "id": 14,
              "module": "builtin:BasicFeeder",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Properties found",
                "conditions": [[
                  {"a": "{{length(11.data.items)}}", "o": "number:greater", "b": "0"}
                ]]
              },
              "mapper": {"array": "{{11.data.items}}"},
              "metadata": {"designer": {"x": 2400, "y": 150}}
            },
            {
              "id": 16,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {"authenticationType": "noAuth", "tlsType": ""},
              "filter": {
                "name": "Limit detailed results",
                "conditions": [[
                  {"a": "{{14.__IMTINDEX__}}", "o": "number:less", "b": "4"}
                ]]
              },
              "mapper": {
                "url": "https://developers.ria.com/dom/info/{{14.value}}?api_key=YOUR_DOM_RIA_API_KEY",
                "method": "get",
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "shareCookies": false,
                "requestCompressedContent": true
              },
              "metadata": {"designer": {"x": 2700, "y": 150}}
            },
            {
              "id": 17,
              "module": "builtin:BasicAggregator",
              "version": 1,
              "parameters": {"feeder": 16},
              "mapper": {"data": "{{16.data}}"},
              "metadata": {"designer": {"x": 3000, "y": 150}}
            },
            {
              "id": 19,
              "module": "openai-gpt-3:CreateCompletion",
              "version": 1,
              "parameters": {"__IMTCONN__": 0},
              "mapper": {
                "model": "gpt-4o",
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "max_tokens": "2048",
                "n_completions": "1",
                "response_format": "text",
                "messages": [{
                  "role": "system",
                  "content": "Format Kyiv apartment results as a concise Ukrainian Telegram message. Use only rooms_count, total_square_meters, street_name_uk, admin_district_name_uk, floor_info, price_total, currency_type_uk and beautiful_url. Do not invent values. Separate listings with ---. Properties: {{17.array[].data}}"
                }]
              },
              "metadata": {"designer": {"x": 3300, "y": 150}}
            },
            {
              "id": 20,
              "module": "telegram:SendReplyMessage",
              "version": 1,
              "parameters": {"__IMTCONN__": 0},
              "mapper": {
                "chatId": "{{3.message.chat.id}}",
                "text": "{{19.result}}",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
              },
              "metadata": {"designer": {"x": 3600, "y": 150}}
            },
            {
              "id": 21,
              "module": "airtable:ActionUpdateRecords",
              "version": 3,
              "parameters": {"__IMTCONN__": 0},
              "mapper": {
                "id": "{{9.id}}",
                "base": "YOUR_AIRTABLE_BASE_ID",
                "table": "YOUR_AIRTABLE_TABLE_ID",
                "typecast": false,
                "useColumnId": false,
                "record": {
                  "YOUR_FIELD_STATUS": "done",
                  "YOUR_FIELD_STEP": "0",
                  "YOUR_FIELD_ROOMS": "0",
                  "YOUR_FIELD_BUDGET_MAX": "0",
                  "YOUR_FIELD_FLOOR_MIN": "0"
                }
              },
              "metadata": {"designer": {"x": 3900, "y": 150}}
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {"orphans": []},
    "zone": "eu1.make.com",
    "notes": [],
    "public_note": "Sanitized public portfolio version. Credentials, connection IDs, webhook IDs, Airtable IDs, field IDs, API keys and user data were removed or replaced. Search and branch filters were corrected for the public template."
  }
}
